@import './../../variables.module.scss';
.total-section {
    width: 100%;
}

.statistics {
    width: 100%;
}

.details {
    font-size: 1rem;
    font-weight: normal;
    color: $color-secondary;
}
