@import './../../variables.module';

.menu {
  width: 100%;
  height: 100px;
}

.logo {
  height: 80px;
  font-size: 3rem;
}

.menu-item {
  font-weight: 400;
}

.disabled {
  opacity: 0.3;
}

.selected {
  span {
    font-weight: 900;
    text-decoration: underline;
  }
}
