.new-transaction-wrapper .ant-input-number {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;

  .ant-input-number-input {
    font-size: 4rem;
    height: 100%;
    text-align: center;
  }
}

.new-transaction-wrapper .ant-picker {
  height: 45px;
  margin-bottom: 1rem;
}

.new-transaction-wrapper .ant-segmented,
.new-transaction-wrapper .ant-select {
  margin-bottom: 1rem;
}

.new-transaction-wrapper .ant-input-affix-wrapper {
  height: 45px;
  margin-bottom: 1rem;
}
